<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
    <form action="" method="POST">
      <label>Book Name</label>
      <input type="text" name="book_name" placeholder="Book Name" />
      <label>Book Author</label>
      <input type="text" name="author" placeholder="Author Name" />
      <label>Rating</label>
      <input type="text" name="rating" placeholder="1-10" />
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
